adafruit-circuitpython-ads1x15==2.1.2;

# install from github
# pip3 install -e git+https://github.com/GreenPonik/GreenPonik_thermistor_10k.git#egg=greenponik-thermistor_10k

# upgrade from github
# pip3 install -e git+https://github.com/GreenPonik/GreenPonik_thermistor_10k.git#egg=greenponik-thermistor_10k --upgrade
